

  .WOE form {
    margin-top: 15px;
    font-size: 25px; 
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 60px;
    border-radius: 8px;
    border: 1px solid rgb(252, 248, 248);
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 2px 2px 5px grey;
  }

  .WOE input {
  display: inline;
	box-sizing: border-box;
	width: 20%;
	padding: 8px;
	border-radius: 8px;
	border: 2px solid rgb(232, 231, 231);
  box-shadow: outset 0px 1px 1px rgba(0, 0, 0, 0.33);
  /* margin: left; */
  margin: 10px 20px 0px;
  background: rgba(270, 270, 270, 0.9);
}

.WOE .submit {
  font-size: 15px;
  /* font-family: "impact"; */
  padding: 10px 50px;
  margin-top: 20px;
  border: 1px solid rgb(252, 248, 248);
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 2px 5px grey;
  border-radius: 8px;
  
}

.WOE .remove {
  padding: 5px;
  border: 1px solid rgb(209, 208, 208);
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 2px 5px grey;
  border-radius: 8px;
  background: rgba(240, 20, 20, 1);
  margin-top: 10px;
  cursor: pointer;
}
  
.WOE .title {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 16px;

}

#exercises {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
}

.WOE {
  display: block;
  margin: 40px auto;
}

.workoutrow {
  background: rgba(270, 270, 270, 0.9);
  width: 950px;
  height: 110px;
}