
  .WOE form {
    margin-top: 20px;
    font-size: 30px;
    /* font-family: "impact"; */
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 60px;
    border-radius: 8px;
    border: 1px solid rgb(252, 248, 248);
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 2px 2px 5px grey;
 
  }

  input {
  display: inline;
	box-sizing: border-box;
	width: 30%;
	padding: 8px;
	border-radius: 8px;
	border: 2px solid rgb(232, 231, 231);
  box-shadow: outset 0px 1px 1px rgba(0, 0, 0, 0.33);
  /* margin: left; */
  margin: 20px 5px 0px;
}

.submit {
  font-size: 15px;
  /* font-family: "impact"; */
  padding: 10px 50px;
  margin-top: 20px;
  border: 1px solid rgb(252, 248, 248);
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 2px 5px grey;
  border-radius: 8px;
  
}

.remove {
  font-size: 15px;
  /* font-family: "impact"; */
  padding: 10px 50px;
  margin-top: 20px;
  border: 1px solid rgb(252, 248, 248);
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 2px 5px grey;
  border-radius: 8px;

}
  
.title {
  display: block;
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 30px;

}
  