  .profilepage form {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    width: 810px;
    height: 580px;
    border-radius: 8px;
    border: 1px solid rgb(252, 248, 248);
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 2px 2px 5px grey;
    background: rgba(270, 270, 270, 0.9);
    
  }

  .profilepage input {
    position:relative;
    display: inline;
      /* box-sizing: border-box; */
      width: 300px;
      height: 20px;
      padding: 10px;
      border-radius: 8px;
      border: 2px solid rgb(232, 231, 231);
    box-shadow: outset 0px 1px 1px rgba(0, 0, 0, 0.33);
    margin: 10px 20px 0px;
    background: rgba(270, 270, 270, 0.9);
    margin-left: 45px;

    
  }

  .profilepage button {
    border-radius: 8px;
    padding: 10px 30px;
    margin-bottom: 20px;
  }

  .profilepage h2 { 
    text-align: center;
    padding: 0px;
  }

  .profilepage {
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/28076/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  }

  .profilepage SVG {
    margin-top: 0px;
    padding-left: 10px;
    
  }

  .fatp {
    position: absolute;
    top: 390px;
    font-size: 14px;
  }

  .musclep {
    position: absolute;
    top: 390px;
    font-size: 14px;
  }

  .fat {
    display: flex;
    justify-content: center;
  }

  .muscle {
    display: flex;
    justify-content: center;
  }

  .gauges {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }

  #profile .btn-cont {
    display: block;
    justify-content: center;
  }